# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Frontend
node_modules
dist
dist-ssr
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Backend
exe2vision-backend/venv/
exe2vision-backend/__pycache__/
exe2vision-backend/**/__pycache__/
exe2vision-backend/**/*.py[cod]
exe2vision-backend/.env
exe2vision-backend/uploaded_files/
exe2vision-backend/output_images/
exe2vision-backend/*.db
exe2vision-backend/*.sqlite3
